* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 62.5%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* FONTS */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3.6rem;
    line-height: 5.4rem;
}

h2,
h3 {
    font-size: 2.4rem;
    line-height: 3.6rem;
}

h4 {
    font-size: 1.8rem;
    line-height: 2.4rem;
}

p {
    font-size: 1.4rem;
    line-height: 1.8rem;
}

body {
    min-height: 100%;
}

/* Add a heart before links */
a::after {
    content: "♥";
}

/* HEADER */

.header {
    grid-area: navbar;
    background-color: #000000;
    color: white;
}

/* MAIN */

.main {
    grid-area: main;
    background-color: #f5f5f5;
    padding: 50px;
}
main .h1 {
    margin: 5rem;
}

.main .sugerencias {
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid;
    border-color: hotpink;
    position: absolute;
    width: 100vh;
    height: 70px;
    bottom: 5px;
    display: flex;
    justify-content: center;
    color: hotpink;
}
/* SIDEBAR */

.sidebar {
    grid-area: sidebar;
    background-color: #f6df1c;
    display: flex;
    flex-direction: column;
    flex: auto;
}

.box1 {
    padding: 15px 10px;
    background-color: #f6df1c;
    border: solid;
}
.box1:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #f6df1c;
    border: solid;
    border-color: #f6df1c;
}

.box2 {
    padding: 15px 10px;
    background-color: #f6df1c;
    border: solid;
}

.box2:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #f6df1c;
    border: solid;
    border-color: #f6df1c;
}

.box3 {
    padding: 15px 10px;
    background-color: #f6df1c;
    border: solid;
}
.box3:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #f6df1c;
    border: solid;
    border-color: #f6df1c;
}
.box4 {
    padding: 15px 10px;
    background-color: #f6df1c;
    border: solid;
}
.box4:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #f6df1c;
    border: solid;
    border-color: #f6df1c;
}

/* media queries smartphone */

.grid-container {
    display: grid;
    gap: 1px;
    grid-template:
        "navbar" 50px
        "main" auto
        "sidebar" 100px;
}

/* media queries tablet */

@media (min-width: 700px) {
    .grid-container {
        grid-template:
            "navbar main sidebar" auto
            /
            100px auto 350px;
    }
    h1 {
        font-size: 2.4rem;
        line-height: 3rem;
    }
}

/* media queries desktop */

@media (min-width: 900px) {
    .grid-container {
        grid-template:
            "navbar main sidebar" auto
            /
            100px auto 500px;
    }
    .sidebar {
        display: grid;
    }
    h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
}
